%shared-box-styles {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);   
    color: white;
}
$primary-color: #112055;
$primary-lighter-color: lighten($primary-color, 20%);
$primary-darker-color: darken($primary-color, 20%);
$secondary-color: #4f9d92;

.box__wrapper{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    font-family: sans-serif;
      .box {
      @extend %shared-box-styles;
  
      &:hover {
        box-shadow: none;
      }
    }
  }
  .box-primary {
    @extend %shared-box-styles;
    background-color: $primary-color;
  }
  
  .box-primary-lighter {
    @extend %shared-box-styles;
    background-color: $primary-lighter-color;
  }
  
  .box-primary-darker {
    @extend %shared-box-styles;
    background-color: $primary-darker-color;
  }
  
  .box-secondary {
    @extend %shared-box-styles;
    background-color: $secondary-color;
    color: black;
  }

